

#join_table {
    width: 100%;
    color: white;
}

#join_table > thead tr{
    background-color: #00796b;
    height: 5rem;
}

#join_table > tbody > tr {
    height: 5rem;
    text-align: center;
    background-color: #202020;
}

#join_table > tbody tr:hover {
    background-color: red;
}

#join_game {
    text-align: center;
}

